apiVersion: v1
kind: ConfigMap
metadata:
  name: opa-config
  namespace: opa
data:
  config.yaml: |
    services:
      jfrog:
        # Base URL INCLUDING /artifactory
        url: https://opatestmc.jfrog.io/artifactory
        credentials:
          bearer:
            # OPA will expand this from the container env var
            token: ${JFROG_TOKEN}

    bundles:
      sample:
        service: jfrog
        # Repo + path inside Artifactory
        resource: opa-policies-local/sample/opa-sample-bundle-latest.tar.gz
        polling:
          min_delay_seconds: 60
          max_delay_seconds: 300

    decision_logs:
      console: true

    status:
      console: true
